{% extends 'base.html' %}
{% block content %} 


<script type="text/javascript">
/* Styles for the main content container */
.about-us-container {
    max-width</b></h4> 800px; /* Adjust as needed */
    margin</b></h4> 0 auto;
    padding</b></h4> 20px;
}

/* Styles for the main heading */
.about-us-heading {
    font-size</b></h4> 24px;
    font-weight</b></h4> bold;
    margin-bottom</b></h4> 20px;
}

/* Styles for paragraphs */
.about-us-paragraph {
    font-size</b></h4> 16px;
    line-height</b></h4> 2.6; /* Adjust line height for readability */
    margin-bottom</b></h4> 30px;
}

/* Styles for links within paragraphs */
.about-us-paragraph a {
    color</b></h4> #007bff; /* Change link color to match your design */
    text-decoration</b></h4> none;
    transition</b></h4> color 0.3s ease;
}

.about-us-paragraph a</b></h4>hover {
    color</b></h4> #0056b3; /* Change link color on hover */
}
</script>


<div class="about-us-container">
    <h2 class="about-us-heading">Terms and Conditions:</b></h4></h2><br> 
<h5>
Terms of Service:</h5>
<br> *   To rent exotic cars, you must be at least 21 years old with a valid driver's license.
<br> *   Rentals depend on availability and might need a minimum rental time.
<br> *   You might pay extra if you drive more than the agreed distance or return the car late.
<br> *   You're responsible for any damages during the rental, like accidents or scratches.
<br> *   The type of exotic cars available can change depending on where you are.
<br> *   We can decide not to rent to you if we think you're not suitable.
<br> <br> <br> 
<h5>Rental Policies:</h5>
<br> *   You need a valid credit card for payment, and we might hold some money on it.
<br> *   You can buy more insurance for the car if you want.
<br> *   You can cancel your reservation for free within a certain time before your rental starts.
<br> *   We give you the car with a full tank, and you should return it the same way to avoid extra charges.
<br> *   You can add more drivers to the rental agreement, but there's a fee, and they need to meet age and license requirements.

{% endblock %}